body, html *{
    font-size 10px
box-sizing: border box;
margin: 0;
padding: 0;
}
body {
    background: rgb(160, 160, 160);
    text-align: center;
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 100 px;
}

#post-1-image {
    width: 100%;
    height: 45%;
    object-fit: cover;
}

.post-1 {
    text-align: center;
    background: white;
    color: red;
    height: 300px;
    width: 700px;
    border: 5px solid red;
  padding: 5px;
}

#post-2-image {
    width: 100%;
    height: 45%;
    object-fit: cover;
}

.post-2 {
    background: white;
    color: darkblue;
    border: 5px solid darkblue;
    padding: 5px;
    height: 70%;
}

#post-3-image {
    width: 100%;
    height: 45%;
    object-fit: cover;
}

.post-3 {
    background: red;
    color: white;
    border: 5px solid green;
    padding: 5px;
    height: 70%;
}